
body{
    background-color: rgb(226, 184, 165);
    font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" ; 
}

.main{
    margin:auto;
    width: 720px;
    background-color: rgb(212, 124, 128);
    text-align: center;
}
.infoAc{
    list-style: none;
    margin-top: 0;
}

.titleInf{
    margin-bottom: 1;
}
